.u-marbot-16 {
  margin-bottom: 16rem !important;
}

.u-marbot-2 {
  margin-bottom: 2rem !important;
}

.u-marbot-5 {
  margin-bottom: 5rem !important;
}

.u-marbot-8 {
  margin-bottom: 8rem !important;
}

.u-marbot-12 {
  margin-bottom: 12rem !important;
}

.u-martop-5 {
  margin-top: 5rem !important;
}

.u-text-center {
  text-align: center !important;
}

.u-row-gap20 {
  row-gap: 20rem !important;
}

.u-col-gap6 {
  column-gap: 6rem !important;
}

.u-align-items-c {
  align-items: center;
}
