$color-primary: #bd3ece;
$color-secondary: #c3489d;

$color-primary-light: #e100ff;
$color-secondary-light: #ff00ae;

$color-background: #010101;

$color-white: #e3e4e6;
$color-grey: #959697;
