.section__clients {
  &--img-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    align-items: center;
  }
  &--img-box2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    justify-items: center;
    align-items: center;
  }

  &--img {
    width: 60%;
    transition: all 0.5s linear;
  }
}
