.section__about {
  &--text {
  }
  &--img-box {
    &--left-side {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--right-side {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }

  &--img {
    width: 90%;
  }
}
