@keyframes opacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes grayScale {
  0% {
    filter: grayscale(1); }
  70% {
    filter: grayscale(0.9); }
  80% {
    filter: grayscale(0.7); }
  100% {
    filter: grayscale(0); } }

@keyframes textColor {
  0% {
    color: #959697; }
  100% {
    color: #e3e4e6; } }

@keyframes textColor {
  0% {
    color: #959697; }
  100% {
    color: #e3e4e6; } }

/**************************/
.hidden {
  opacity: 0;
  filter: blur(5px);
  transition: all 0.6s linear; }

.show {
  opacity: 1;
  filter: blur(0px); }

.hidden-left {
  transform: translateX(-100%);
  transition: all 0.6s linear; }

.hidden-right {
  transform: translateX(100%);
  transition: all 0.6s linear; }

.show-l,
.show-r {
  transform: translateX(0%); }

.removeGrayScale {
  animation: grayScale 5s linear;
  animation-fill-mode: forwards; }

.highlight {
  animation: textColor 5s linear;
  animation-fill-mode: forwards; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  cursor: url(/img/cursor.png), auto; }
  html a {
    cursor: url(/img/pointer.png), pointer; }

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #010101;
  box-sizing: border-box; }

.container {
  width: 100%;
  max-width: 1367px;
  overflow-x: hidden; }

.img {
  filter: grayscale(1);
  border-radius: 20px;
  border: 3px solid transparent;
  transition: all 0.5s linear; }
  .img:hover {
    border-bottom: 3px solid #e100ff;
    transform: scale(1.3);
    z-index: 99; }

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
  color: #e3e4e6; }

.heading__primary {
  display: block;
  width: 80%;
  margin: 0 auto;
  color: #959697;
  font-size: 5rem;
  font-weight: 300; }
  .heading__primary--span {
    color: #e3e4e6;
    font-weight: 700; }

.heading__secondary {
  display: block;
  color: #959697;
  font-size: 3rem;
  font-weight: 300; }
  .heading__secondary--span {
    color: #e3e4e6;
    font-weight: 700; }

.heading__tertiary {
  color: #e3e4e6;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px; }

.paragraph {
  color: #959697;
  font-size: 3rem; }
  .paragraph--span {
    color: #e3e4e6;
    font-weight: 700;
    transition: color 20s linear; }

.categorie {
  color: #959697;
  font-size: 1.4rem; }

.footer__p {
  font-size: 2rem;
  font-weight: 300;
  color: #e3e4e6; }
  .footer__p--span {
    color: #e3e4e6;
    font-weight: 700; }
    .footer__p--span-heart {
      font-size: 2rem;
      font-weight: 600;
      color: red; }

.u-marbot-16 {
  margin-bottom: 16rem !important; }

.u-marbot-2 {
  margin-bottom: 2rem !important; }

.u-marbot-5 {
  margin-bottom: 5rem !important; }

.u-marbot-8 {
  margin-bottom: 8rem !important; }

.u-marbot-12 {
  margin-bottom: 12rem !important; }

.u-marbot-20 {
  margin-bottom: 20rem !important; }

.u-martop-5 {
  margin-top: 5rem !important; }

.u-martop-8 {
  margin-top: 8rem !important; }

.u-text-center {
  text-align: center !important; }

.u-row-gap20 {
  row-gap: 20rem !important; }

.u-col-gap6 {
  column-gap: 6rem !important; }

.u-col-gap1 {
  column-gap: 1rem !important; }

.u-align-items-c {
  align-items: center; }

.u-align-items-end {
  align-items: flex-end; }

.u-justify-self-end {
  justify-self: flex-end; }

@media (max-width: 1524px) {
  .heading__primary {
    font-size: 4rem; }
  .heading__secondary {
    font-size: 3rem; } }

@media (max-width: 1400px) {
  .container {
    padding: 5rem 15rem; }
  .paragraph {
    font-size: 2.5rem; } }

@media (max-width: 1280px) {
  .heading__primary {
    font-size: 3rem; }
  .heading__secondary {
    font-size: 1.7rem; }
  .paragraph {
    font-size: 1.7rem; }
  .img {
    border-radius: 10px; } }

@media (max-width: 1100px) {
  html {
    font-size: 52.5%; }
  .heading__secondary {
    font-size: 2rem; }
  .paragraph {
    font-size: 2rem; }
  .section__about--img {
    width: 100% !important; }
  .img:hover {
    transform: scale(1.1); } }

@media (max-width: 1000px) {
  .paragraph {
    font-size: 1.7rem; } }

@media (max-width: 910px) {
  html {
    font-size: 45.5%; } }

@media (max-width: 760px) {
  .container {
    padding: 5rem 5rem; }
  .heading__primary {
    font-size: 2.5rem; }
  .paragraph {
    font-size: 2rem; } }

@media (max-width: 720px) {
  .header__navigation--item {
    font-size: 2rem !important; }
  .paragraph {
    font-size: 1.7rem; } }

@media (max-width: 650px) {
  html {
    font-size: 45%; } }

@media (max-width: 550px) {
  html {
    font-size: 50%; }
  .u-martop-8 {
    margin-top: 0 !important; }
  .u-row-gap20 {
    row-gap: 12rem !important; }
  .grid--2cols {
    display: grid;
    grid-template-columns: 1fr !important;
    gap: 2rem; }
  .header__logo {
    font-size: 1.5rem !important; }
  .header__navigation {
    padding: 0 !important; }
    .header__navigation--item {
      font-size: 2rem; }
  .heading__primary {
    width: 100%;
    font-size: 2.2rem; }
  .heading__secondary {
    text-align: center; }
  .section__works--img {
    justify-self: center;
    width: 70%; }
  .section__works--text {
    text-align: center;
    order: 1; }
  .section__about--text {
    text-align: center; }
  .section__about--img-box--left-side {
    justify-content: flex-end !important; }
  .section__about--img {
    width: 80% !important; } }

@media (max-width: 430px) {
  .container {
    padding: 3rem 1rem; }
  .header {
    grid-template-columns: 1fr !important; }
    .header__logo {
      font-size: 1.2rem !important;
      justify-self: center; }
    .header__navigation {
      justify-self: center;
      gap: 3rem; }
      .header__navigation--item {
        margin-right: 0 !important;
        font-size: 1.8rem !important; }
  .heading__primary {
    font-size: 1.8rem; }
  .heading__secondary {
    font-size: 1.5rem; }
  .paragraph {
    font-size: 1.5rem; }
  .footer {
    margin-bottom: 5rem !important; }
    .footer__link:not(:last-child) {
      margin-right: 2rem !important; }
    .footer__icon {
      width: 5rem !important;
      height: 5rem !important; }
  .u-marbot-8 {
    margin-bottom: 2rem !important; } }

@media (max-width: 320px) {
  .header {
    grid-template-columns: 1fr !important; }
    .header__logo {
      font-size: 1rem !important;
      justify-self: center; }
    .header__navigation {
      justify-self: center;
      gap: 3rem; }
      .header__navigation--item {
        margin-right: 0 !important;
        font-size: 1.3rem !important; }
  .heading__primary {
    font-size: 1.5rem; }
  .heading__secondary {
    font-size: 1.2rem; }
  .paragraph {
    font-size: 1.2rem; } }

.header {
  height: 26vh;
  align-items: flex-start; }
  .header__logo {
    font-size: 2.5rem; }
  .header__navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem 0; }
    .header__navigation--item, .header__navigation--item:link, .header__navigation--item:visited {
      text-decoration: none;
      color: #e3e4e6;
      font-size: 2.5rem;
      font-weight: 700;
      margin-right: 3rem;
      text-transform: uppercase;
      display: inline-block;
      position: relative;
      background: linear-gradient(to right, #e100ff, #ff00ae 50%, #e3e4e6 50%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 200% 100%;
      background-position: 100%;
      transition: all 0.3s linear; }
      .header__navigation--item::after, .header__navigation--item:link::after, .header__navigation--item:visited::after {
        content: "";
        height: 0.2rem;
        width: 1.5rem;
        background-color: #fff;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: all 0.2s ease; }
    .header__navigation--item:hover {
      background-position: 0 100%; }
      .header__navigation--item:hover::after {
        opacity: 1; }

.main-heading {
  width: 100%;
  height: 70vh;
  animation: opacity 3s linear; }
  .main-heading__link {
    width: 4rem;
    height: 4rem;
    display: block;
    margin: 0 auto; }
  .main-heading__icon {
    display: inline-flex;
    width: 4rem;
    height: 4rem;
    color: #e3e4e6;
    transition: all 0.3s ease; }
    .main-heading__icon:hover {
      color: #e100ff; }

.section__clients--img-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  align-items: center; }

.section__clients--img-box2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center; }

.section__clients--img {
  width: 60%;
  transition: all 0.5s linear; }

.btn {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  position: relative; }
  .btn:link, .btn:visited {
    text-decoration: none;
    font-size: 1.5rem;
    color: #959697;
    text-transform: uppercase;
    border: 1px solid #959697;
    border-radius: 999px;
    padding: 1rem 3rem; }
  .btn:hover, .btn:active {
    font-weight: 700;
    padding: 1rem 2.8rem;
    color: #e3e4e6; }
  .btn::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 99px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #e100ff, #ff00ae);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s linear; }
  .btn:hover::before {
    opacity: 1; }
  .btn--icon {
    width: 2rem;
    height: 2rem; }

.grid {
  display: grid; }

.grid--2cols {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.grid--2cols-header {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.grid--2cols-about {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.grid--4cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr); }

.grid--2rows {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20rem; }

.section__works--img {
  width: 80%; }

.section__works--text {
  align-self: flex-end; }

.section__about--img-box--left-side {
  display: flex;
  justify-content: center;
  align-items: center; }

.section__about--img-box--right-side {
  display: flex;
  flex-direction: column;
  gap: 2rem; }

.section__about--img {
  width: 90%; }

.footer__link:not(:last-child) {
  margin-right: 6rem; }

.footer__icon {
  width: 6rem;
  height: 6rem;
  color: #959697;
  transition: all 0.4s linear; }
  .footer__icon--github:hover {
    color: #e3e4e6; }
  .footer__icon--behance:hover {
    color: #1666f7; }
  .footer__icon--dribble:hover {
    color: #e14a84; }
  .footer__icon--linked-in:hover {
    color: #0b63bd; }
